@charset "utf-8";
 
body
{
	height:100%;
	width:100%;
	margin:0;padding:0;
	overflow:hidden;
	font-size: 80%;
	color: #353535;
	background-color: #FFFFFF;
	font-family:"Courier New", Courier, monospace;
}

p
{
	display: inline;
	margin: 0;
	padding: 0;
}

.index #wrapper
{
	width:100%;
	height:100%;
	position:absolute;
	top:0;left:0;
	margin: 72px 0 0 0;
	overflow:hidden;
}

.accountactions  #wrapper
{
	width:100%;
	height:100%;
	position:absolute;
	top:0;left:0;
	margin: 72px 0 0 0;
	overflow:hidden;
}

.account #wrapper
{
	width:100%;
	height:100%;
	position:absolute;
	top:0;left:0;
	margin: 72px 0 0 0;
	overflow:hidden;
}

.index #mask {
	width:100%;
	height:500%;
}
.accountactions #mask
{
	width:100%;
	height:100%;
}
.account #mask {
	width:100%;
	height: 700%;
}

.index .sections {
	width:100%;
	height:20%;
	display: inline;
}
.accountactions .sections {
	width:100%;
	height:100%;
	display: inline;
}
.account .sections {
	width:100%;
	height:14.2%;
	display: inline;
}


.index #header,
.accountactions #header
{
	position: fixed;
	background-color: #ffffff;
	height: 43px;
	padding: 0 7px 9px 7px;
	width: 100%;
	z-index: +2;
}
.account #header
{
	position: fixed;
	background-color: #ffffff;
	height: 43px;
	padding: 0 7px 9px 7px;
	width: 100%;
	z-index: +2;
}
.index #search_form,
.accountactions #search_form
{
	position: absolute;
	top: 6px;
	left: 347px;
}
.account #search_form
{
	position: absolute;
	top: 6px;
	left: 347px;
}
.index #logo,
.accountactions #logo
{
	font-size: 2.3em;
	font-weight:bold;
	position: absolute;
	top: 2px;
	left: 7px;
	text-transform: uppercase;
	cursor: pointer;
}
.account #logo
{
	font-size: 2.3em;
	font-weight:bold;
	position: absolute;
	top: 2px;
	left: 7px;
	text-transform: uppercase;
	cursor: pointer;
}

.portfolio #logo
{
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
}
a.link_logo,
a.link_logo:visited
{
	color: #353535;
	cursor: pointer;
	text-decoration: none;
}
a.link_logo:hover,
a.link_logo:focus,
a.link_logo:active
{
	color: #D1D1D1;
	text-decoration: none;
}

#credential_options
{
	position: absolute;
	top: 9px;
	right: 7px;
	font-size: 0.9em;
	margin: 0px;
	padding: 0px;
	margin: 0 17px 0 0;
	list-style-type: none;
	color: #858585;
	background-color: #FFFFFF;
}
#credential_options li,
#credential_options li a,
#credential_options li a:visited
{
	display: inline;
	margin: 0 3px 0 0;
	cursor: pointer;
	text-decoration: none;
	color: #858585;
}
#credential_options li a:hover,
#credential_options li a:focus,
#credential_options li a:active,
#credential_options li span:hover,
#credential_options li span:focus
{
	cursor: pointer;
	text-decoration:underline;
}

.index #navigation_main,
.accountactions #navigation_main
{
	position: absolute;
	top: 32px;
	left: 3px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	/*margin: 0 17px 0 0;*/
}
.account #navigation_account
{
	position: absolute;
	top: 32px;
	left: 3px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	/*margin: 0 17px 0 0;*/
}
.account #navigation_account li
{
	display: inline;
	font-size: 1.3em;
	text-transform: uppercase;
	margin: 0 8px 0 0;
	background-color: #FFFFFF;
}
.index #navigation_main li,
.accountactions #navigation_main li
{
	display: inline;
	font-size: 1.3em;
	text-transform: uppercase;
	margin: 0 8px 0 0;
	background-color: #FFFFFF;
}
#navigation_main li a,
#navigation_main li a:visited,
#navigation_account li a,
#navigation_account li a:visited
{
	text-decoration: none;
	font-weight: bold;
	padding: 3px;
}
#link_introduction,
#link_instructions,
#link_about,
#link_contact,
#link_artistsindex,
#link_overview,
#link_albums,
#link_blog,
#link_settings,
#link_comments,
#link_coverpage
{
	color: #000000;
}

#link_featuredartists,
#link_designeditor
{
	color: #FF0000;
}
#navigation_main li a:hover,
#navigation_main li a:focus,
#navigation_main li a:active,
#navigation_account li a:hover,
#navigation_account li a:active,
#navigation_account li a:focus
{
	color: #FFFFFF;
	background-color: #000000;
}




.index .section_title
{
	background-color:#000000;
	color: #FFFFFF;
	display: inline;
	margin: 0 3px 0 3px;
	cursor: pointer;
}
.index #section_terms .section_title
{
	background-color:#ffffff;
	color: #FFFFFF;
}
.index .section_title:hover,
.index .section_title:focus
{
	color: #D1D1D1;
}

.index .section_content
{
	display: inline;
	background-color: #FFFFFF;
	color: #515151;
	font-size: 1.6em;
	letter-spacing: 0.4em;

}

.index .section_title_selected,
.index .section_title_selected_introduction,
.index .section_title_selected_about,
.index .section_title_selected_contact,
.index .section_title_selected_artistsindex,
.index .section_title_selected_featuredartists,
.index .section_title_selected_registration,
.index .section_title_selected_signin,
.index .section_title_selected_terms
{
	display: block;
	padding: 3px 7px 3px 7px;
	color: #FFFFFF;
	background-color:#000000;
	font-size: 1.1em;
	cursor: pointer;
}
.index .section_content_selected,
.index .section_content_selected_introduction,
.index .section_content_selected_about,
.index .section_content_selected_contact,
.index .section_content_selected_artistsindex,
.index .section_content_selected_featuredartists,
.index .section_content_selected_registration,
.index .section_content_selected_signin
{
	display: block;
	font-size: 1.3em;
	/*padding: 7px 7px 27px 7px;*/
	/*background-color: #000000;
	color:#E2E2E2;
	*/
	background-color: #FFFFFF;
	color: #444444;
	/*height: 500px;*/
	margin: 0 0 7px 0;
	overflow:auto;
}


.index p
{
	display: inline;
	margin: 0;
	padding: 0;
}
.index .section_content_subpage p
{
	display: inline;
	margin: 0;
	padding: 0;
}
.index .section_content_selected_introduction p,
.index .section_content_selected_about p
{
	display: block;
	margin: 0 0 13px 0;
	padding: 2px 3px 2px 3px;
}

.index .section_content #universitylogocontainer,
.index .section_content #dimitrioschantziscontainer
{
	display: none;
}
.index .section_content_selected_about #universitylogocontainer,
.index .section_content_selected_about #dimitrioschantziscontainer
{
	display: block;
	margin: 17px 0 0 0;
	background-color: #FFFFFF;
}
.index .section_content_selected_about #dimitrioschantziscontainer
{
	margin: 107px 0 0 240px;
}
.index .section_content_selected_about .inkstain
{
	margin: 7px 0 0 73px;
}

.index .section_content_selected_about #universitylogo
{
	margin: 0 0 0 300px;
}

.index .section_content_selected_introduction .blackbackground2,
.index .section_content_selected_about .blackbackground2
{
	background-color: #000000;
	color: #FFFFFF;
}
.index .section_content #section_content_subpage_introduction
{
	display: none;
}
.index .section_content_selected_introduction
{
	width: 700px;
	margin-top: 37px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2em;
}
.index .section_content_selected_introduction #section_content_subpage_introduction
{
	display:inline;
	float:left;
	height:300px;
	width:200px;
	font-size: 1em;
	margin-right: 23px;
}
.index .section_content_selected_introduction #section_content_subpage_introduction div
{
	margin: 0 0 27px 0;
}
.index .section_content_selected_about
{
	width: 700px;
	margin-top: 47px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.8em;
}

.index .section_content_selected_contact #contactus_body
{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.index .section_content_selected_registration,
.index .section_content_selected_signin
{
	margin:75px auto 17px;
	width: 600px;
}
.index .section_content_selected_contact #contact_body
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 23px;
	width: 600px;
}
.index .section_content_selected_artistsindex,
.index .section_content_selected_featuredartists
{
	/*height: 500px;*/
}
.index .register_terms_container
{
	font-size:0.8em;
	margin-left:127px;
	width: 400px;
}
.index .register_submit_container,
.index .login_submit_container,
.index .forgotpassword_submit_container
{
	margin-left:250px;
	padding-top:13px;
	float: right;
	width:197px;
}
#register_frm_messages,
#login_frm_messages,
#forgotpassword_frm_messages,
#resetpassword_frm_messages
{	
	font-size:1.1em;
	font-weight:none;
	margin-bottom:13px;
	margin-left:50px;
}
.forgotpassword_toggler_container
{
	padding-left:220px;
	width:300px;
}
.signin_toggler_container
{
	padding-left:387px;
	width:100px;
}

#user_submit_placeholder,
#website_submit_placeholder,
#uploadimagessettings_submit,
#resetpassword_submit_placeholder
{
	float:right;
	font-size:1.2em;
	margin:7px 130px 0 0;
}


.accountactions .section_title_selected,
.accountactions .section_title_selected_activateaccount,
.accountactions .section_title_selected_resetpassword
{
	display: block;
	padding: 3px 7px 3px 7px;
	color: #ffffff;
	background-color:#000000;
	font-size: 1.1em;
	cursor: pointer;
}
.accountactions .section_content_selected,
.accountactions .section_content_selected_activateaccount,
.accountactions .section_content_selected_resetpassword
{
	background-color:#FFFFFF;
	color:#000000;
	display:block;
	font-size:1.4em;
	height:450px;
	margin: 27px auto;
	overflow:auto;
	padding:7px 7px 27px;
	width:650px;
}


.index .section_content_selected_terms
{
	display: block;
	font-size: 1.3em;
	padding: 7px 7px 27px 7px;
	background-color: #ffffff;
	color: #161616;
	height: 450px;
	margin: 0 0 7px 0;
	overflow:auto;
}


ul.frm
{
	margin: 0 0 0 0px;
	padding: 0px;
	list-style-type: none;
}
ul.frm li
{
	margin: 3px 0 17px 0;
}

label
{
	text-align: right;
}

.form_content
{
	margin: 0 0 0 3px;
}

.loggedout_message
{
	font-size: 2.3em;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 37px;
	color: #FFFFFF;
	background-color:#000000;
	padding: 2px 3px 2px 3px;
}

#wallpaperimage_uploadprogress_container,
#logoimage_uploadprogress_container
{
	line-height: 17px;
}

.index .messages,
.accountactions .messages
{
	font-size: 0.9em;
	color: #FF0000;
}

#designeditor_frm_messages
{
	font-size: 1.2em;
	color: #FF0000;
	font-weight: bold;
}

.field_messages
{
	font-size: 1.3em;
	font-weight: bold;
	margin: 0 3px 0 3px;
	color: #FF0000;
}
.index #login_content
{
}
.index .section_content .form_content
{
	display: none;
}


input.text, textarea.text, select.text,
input.text2, textarea.text2, select.text2,
input.text3, textarea.text3, select.text3,
input.text4, textarea.text4, select.text4,
input.text5, textarea.text5, select.text5,
input.text6, textarea.text6, select.text6,
input.text7, textarea.text7, textarea.text7,
input.text8, textarea.text8, textarea.text8
{
	background: #f8f8f8 url('../images/inputbackground.png') repeat-x top left;
	
	/*
	border: 2px solid #000000;
	border-color: #c0c4c6 #e0e4e6 #e0e4e6 #c0c4c6;
	color: #808486;
	*/
	border: 1px solid #000000;
	border-color: #5F5F5F;
	color: #303030;

	padding: 2px 0 2px 4px;
	margin: 0 3px 0 0;
	width: 275px;
	/*background-color: #000000;*/
	/*
	border: 0px;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	*/
}
input.text:focus, textarea.text:focus, select.text:focus,
input.text2:focus, textarea.text2:focus, select.text2:focus,
input.text3:focus, textarea.text3:focus, select.text3:focus,
input.text4:focus, textarea.text4:focus, select.text4:focus,
input.text5:focus, textarea.text5:focus, select.text5:focus,
input.text6:focus, textarea.text6:focus, select.text6:focus,
input.text7:focus, textarea.text7:focus, select.text7:focus,
input.text8:focus, textarea.text8:focus, select.text8:focus
{
	background: #ffffff;
}


#forgotpassword_frm .text,
#register_frm .text,
#login_frm .text,
#resetpassword_frm .text
{	
	width: 333px;
	font-size: 1.1em;
}
#register_terms_button
{
	cursor: pointer;
}



#forgotpassword_frm label,
#register_frm label,
#login_frm label,
#resetpassword_frm label
{
	font-size: 0.9em;
	display: block;
	float: left;
	width: 123px;
	line-height: 30px;
	font-weight: bold;
	margin: 0 7px 0 0px;
	cursor: pointer;
	text-transform:lowercase;
}

#resetpassword_frm label
{
	width: 163px;
	font-size: 0.8em;
}
#user_frm .text,
#website_frm .text,
.account #resetpassword_frm .text
{	
	width: 473px;
	margin: 0 0 0 73px;
	font-size: 1.1em;
}
#user_frm .text2,
#website_frm .text2,
.account #resetpassword_frm .text2
{
	width: 205px;
	margin: 0 0 0 1px;
	font-size: 1.1em;
}
#user_frm .text3,
#website_frm .text3,
.account #resetpassword_frm .text3
{
	width: 275px;
	margin: 0 0 0 1px;
	font-size: 1.1em;
}
.url_prefix
{
	font-size: 0.8em;
	margin: 0 3px 0 73px;
}





#user_frm li
{

}

#user_frm label,
#website_frm label,
#privacy_frm label,
.account #resetpassword_frm label,
#uploadimagessettings_frm label
{
	font-size: 0.9em;
	font-weight: bold;
	float: left;
	width: 200px;
	line-height: 27px;
	margin: 0 0 0 7px;
	cursor: pointer;
	text-transform:lowercase;
	text-align: right;
}
#uploadimagessettings_frm label
{
	margin: 0 75px 0 7px;
}
#privacy_frm label
{
	width: 350px;
}
#privacy_frm li
{

}
.user_frm_categoryinfo
{
	background-color:#000000;
	color:#FFFFFF;
	display: inline;
	padding: 2px 3px 2px 3px;
}
#album_frm label,
#blog_frm label
{
	font-size: 0.7em;
	font-weight: bold;
	cursor: pointer;
	text-transform:lowercase;
	line-height: 27px;
	text-align: left;
	float: left;
	width: 90px;
}

.submit
{
	font-family: "Courier New", Courier, monospace;
	margin: 3px 10px 0 0;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #CCCCCC;
	padding: 2px 3px 2px 3px;
	background-color: #F7F7F7;
	color: #696969;
}
.submit:focus,
.submit:hover
{
	color: #ffffff;
	background-color: #000000;
	border: 1px solid #CCCCCC;
}
#login_submit,
#register_submit,
#forgotpassword_submit
{

}


.account .section_title
{
	background-color:#000000;
	color: #FFFFFF;
	display: inline;
	margin: 0 3px 0 3px;
	cursor: pointer;
	font-size: 2.9em;
	font-weight: bold;
}
.account .section_title:hover,
.account .section_title:focus
{
	color: #D1D1D1;
}
.account .section_content
{
	display: inline;
	background-color: #FFFFFF;
	color: #696969;
	font-size: 1.9em;
	font-weight: bold;
}
.account .section_content_selected .section_subtitle,
.account .section_content_selected_overview .section_subtitle,
.account .section_content_selected_settings .section_subtitle,
.account .section_content_selected_albums .section_subtitle,
.account .section_content_selected_blog .section_subtitle,
.account .section_content_selected_about .section_subtitle,
.account .section_content_selected_comments .section_subtitle,
.account .section_content_selected_coverpage .section_subtitle,
.account .section_content_selected_designeditor .section_subtitle,
.account .section_content_selected_instructions .section_subtitle,
.index .section_content_selected_artistsindex .section_subtitle,
.index .section_content_selected_featuredartists .section_subtitle
{
	font-size: 0.7em;
	padding: 2px 3px 2px 3px;
	margin: 0px 0px 0px 0px;
	color: #FFFFFF;
	background-color: #000000;
	display:block;
}
.index .section_content_selected_artistsindex .section_subtitle,
.index .section_content_selected_featuredartists .section_subtitle
{
	font-size: 0.8em;
	padding: 2px 3px 2px 3px;
	margin: 0px 0px 0px 0px;
	color: #BEBEBE;
	background-color:#282828;
	display:block;
}
.index .section_content_selected_signin .section_subtitle
{
	color:#000000;
	display:block;
	font-size:0.9em;
	margin:0 0 35px;
	padding:0 1px;
	text-align:right;
	width:470px;
}

.account .section_title_selected,
.account .section_title_selected_overview,
.account .section_title_selected_settings,
.account .section_title_selected_albums,
.account .section_title_selected_blog,
.account .section_title_selected_about,
.account .section_title_selected_comments,
.account .section_title_selected_coverpage,
.account .section_title_selected_designeditor,
.account .section_title_selected_instructions
{
	display: block;
	padding: 3px 7px 3px 7px;
	color: #FFFFFF;
	background-color:#000000;
	/*width: 100px;*/
	font-size: 1.1em;
	cursor: pointer;
}
#section_overview_content
{

}
.account .section_content_selected,
.account .section_content_selected_overview,
.account .section_content_selected_settings,
.account .section_content_selected_albums,
.account .section_content_selected_blog,
.account .section_content_selected_about,
.account .section_content_selected_comments,
.account .section_content_selected_coverpage,
.account .section_content_selected_designeditor,
.account .section_content_selected_instructions
{
	display: block;
	font-size: 1.3em;
	padding: 0px;
	margin: 27px 0px 27px 0px;
	/*
	background-color: #000000;
	color:#E2E2E2;
	*/
	color:#000000;

	margin: 0 0 7px 0;
	/*
	width: 800px;
	margin-left: auto;
	margin-right: auto;		
	*/
	overflow:auto;
}

.sectionheight450{height: 450px;}
.sectionheight500{height: 500px;}
.sectionheight550{height: 550px;}
.sectionheight600{height: 600px;}
.sectionheight650{height: 650px;}
.sectionheight700{height: 700px;}
.sectionheight750{height: 750px;}


.account .section_content_selected_albums
{
	padding: 0px;
}


#album_imageview_ul,
#blog_imageview_ul
{
	margin: 17px 0 17px 0;
	padding: 0px;
	list-style-type: none;
}
#album_imageview_ul label,
#blog_imageview_ul label
{
	font-size: 0.7em;
	font-weight: bold;
	display: inline;
	text-transform:lowercase;
	line-height: 27px;
	text-align: left;
	float: left;
	width: 150px;
}
#album_imageview,
#blog_imageview
{
	font-size: 0.75em;
	line-height: 27px;
	font-weight: bold;
	text-align:center;
	margin: 24px 0 0 15px;
}
.album_imageviews
{
}


.section_content_page
{
	width: 970px;
}
.section_content_subpage
{
	display: inline;
	/*float: left;*/
	margin: 0 0 0 17px;
	padding: 0 17px 0 0;
}
#section_content_subpage_settings
{
	width: 890px;
}

#user_frm_messages,
#website_frm_messages,
#resetpassword_frm_messages
{
	text-align: center;
	margin: 0 0 0 275px;
}
#uploadimagessettings_frm_messages
{
	text-align: center;
	margin: 0 0 0 75px;
}
#user_description
{
	height: 123px;
}
#user_charcountercontainer
{
	margin: 0 0 0 273px;
}

#album_uploadprogress_container
{
	margin: 0 0 0 185px;
}
#user_charcountertext,
#album_charcountertext
{
	font-size: 0.9em;
}
#album_charcountercontainer
{
	margin: 0 0 0 5px;
}
#blog_charcountercontainer
{
	margin: 0 0 0 3px;
}
.counters
{
	font-size: 1.7em;
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #575757;
	font-weight: bold;
}
#profileartistcategorieslist
{
	font-size: 0.9em;
	text-align: center;
	width: 550px;
	float: left;
	margin: 0 0 0 0px;
}
#profileartistgenders,
#profileartistvisibilitys,
#profileartistnewsletters,
#profileartistalbumcommentss,
#profileartistblogpostcommentss,
#profileartistcommentnotificationss,
#uploadimagessettingss,
#uploadimagessettingsoptions
{
	font-size: 1em;
	font-weight: bold;
	width: 300px;
	float: left;
	margin: 0 0 0 75px;
}

#uploadimagessettingss,
#uploadimagessettingsoptions
{
	margin: 0;
}

#uploadimagessettings_container
{
	width: 700px;
	margin: 0 0 0 5px;

	float: left;
}
#uploadimagessettingsform_instructions
{
	margin: 0 0 17px 75px;
	padding: 3px;
	font-size: 0.9em;
	color: #646464;

}
#uploadimagessettings_content
{

}
#uploadimagessettings_uploadimageswidth_instructions
{
	font-size: 0.7em;
	color: #7F7F7F;
	width: 600px;
	float: left;
	margin: 0 0 0 280px;
}



.profileartisttags
{
	font-size: 0.9em;
	font-weight: bold;
	display: inline;
	float: right;
	padding: 2px 3px 2px 3px;
	margin: 5px 7px 5px 0;
	cursor: pointer;
	
}
.profileartistgender,
.profileartistvisibility,
.profileartistnewsletter,
.profileartistalbumcomments,
.profileartistblogpostcomments,
.profileartistcommentnotifications,
.album_imageviews,
.blog_imageviews,
.uploadimagessettingsoption,
.coverpagetype,
.sidebarorientation,
.logotype,
.sectionsbackground,
.navigationlinkssize,
.addimagestagcloud,
.addemail,
.addupdated,
.addcopyright,
.templates,
.textfont,
.wallpapertype
{
	padding: 2px 3px 2px 3px;
	cursor: pointer;
	
}
.uploadimagessettingsoption
{
	font-size: 0.9em;
}
.profileartisttags:hover,
.profileartisttags:focus,
.profileartistgender:hover,
.profileartistgender:focus,
.profileartistvisibility:hover,
.profileartistvisibility:focus,
.profileartistnewsletter:hover,
.profileartistnewsletter:focus,
.profileartistalbumcomments:hover,
.profileartistalbumcomments:focus,
.profileartistblogpostcomments:hover,
.profileartistblogpostcomments:focus,
.profileartistcommentnotifications:hover,
.profileartistcommentnotifications:focus,
.albumimage_option:hover,
.albumimage_option:focus,
.blogimage_option:hover,
.blogimage_option:focus,
.album_imageviews:hover,
.album_imageviews:focus,
.blog_imageviews:hover,
.blog_imageviews:focus,
.uploadimagessettingsoption:hover,
.uploadimagessettingsoption:focus,
.coverpagetype:hover,
.coverpagetype:focus,
.sidebarorientation:hover,
.sidebarorientation:focus,
.logotype:hover,
.logotype:focus,
.sectionsbackground:hover,
.sectionsbackground:focus,
.navigationlinkssize:hover,
.navigationlinkssize:focus,
.addimagestagcloud:hover,
.addimagestagcloud:focus,
.addemail:hover,
.addemail:focus,
.addupdated:hover,
.addupdated:focus,
.addcopyright:hover,
.addcopyright:focus,
.templates:hover,
.templates:focus,
.sectionsbackground:hover,
.sectionsbackground:focus,
.textfont:hover,
.textfont:focus,
.wallpapertype:hover,
.wallpapertype:focus
{
	background-color: #D6D6D6;
	color: #000000;
}
.selectedtag
{
	color: #000000;
	background-color: #FFFF00;
}
.selectedtag:hover,
.selectedtag:focus
{
	background-color: #D6D6D6;
	color: #000000;
}
.field_tip
{
	font-size: 0.8em;
	color: #B6B6B6;
	font-weight: normal;
}
#user_container,
#website_container,
#privacy_container,
#resetpassword_container
{
	display: block;
	margin: 0 0 47px 0;
	float:left;
	margin: 0 0 0 10px;
	width:900px;
}
.accountactions #resetpassword_container
{
	width: 648px;
}

#account_settings_navigation
{
	display: inline;
	float: left;
	padding: 0;
	margin: 13px 0 0 0;
	list-style-type:none;
	width: 90px;
}
#account_settings_navigation li
{
	font-size: 1.2em;
	margin: 0 0 13px 3px;
	display: block;
	text-transform: capitalize;
}
#account_settings_navigation li span
{
	padding: 2px 3px 2px 3px;
	color: #000000;
	background-color: #FFFF00;
	cursor: pointer;
	font-weight: bold;
}
#account_settings_navigation li span:focus,
#account_settings_navigation li span:hover
{
	color: #ffffff;
	background-color: #000000;
}


.account #account_albums_navigation_container,
.account #account_blog_navigation_container
{
	display: block;
	float: left;
	
	margin: 0px;
	padding: 13px 13px 13px 13px;
	height: 100%;
	width: 500px;
	background-color: #B3B3B3;
}
.account #section_content_subpage_albums,
.account #section_content_subpage_blog
{
	display: block;
	float: left;
	width: 600px;
	height: 600px;
	margin: 0 0 0 3px;
	padding: 3px 7px 7px 7px;
}

#album_uploadedcover
{

}

.thumbsimages
{
	border: 1px solid #696969;
}

#demosection
{
	margin: 0 0 0 -6px;
	background-color: #FFFF00;
	padding: 2px 3px 2px 3px;
	color: #232323;
	font-size: 0.8em;
}

.refreshsection
{
	margin: 0 0 0 -6px;
	padding: 2px 3px 2px 3px;
	color: #FF0000;
	font-weight: bold;
	font-size: 0.8em;
	cursor: pointer;
}

.account #view_albums_navigation
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin: 17px 0 3px 0;
}
.account #view_albums_navigation li
{
	margin: 0 0 0 0;
	padding: 17px 17px 17px 37px;
	border-bottom: 1px solid #D4D4D4;
}
.account #view_albums_navigation li span
{
	display: block;
	margin: 0 0 7px 0;
}

.account #view_albums_navigation li:hover,
.account #view_albums_navigation li:focus
{
	background-color: #E4E4E4;
}
.account #view_albums_navigation li .view_albumcovers
{
	float: left;
	margin: 0 37px 0 0;
}
.account #view_albums_navigation li .view_names
{
	font-size: 1.3em;
	font-weight: bold;
	color: #464646;
	cursor: pointer;
	text-transform: capitalize;
}
.account #view_albums_navigation li .view_categorys
{
	margin: 2px 0 7px 0;
	color: #696969;
	font-style: italic;
}
.account #view_albums_navigation li .view_timestamps
{
	color: #696969; 
	font-size: 0.7em;
}
.account #view_albums_navigation li .view_comments
{
	color: #696969; 
	font-size: 0.7em;
}
.account #view_albums_navigation li .view_views
{
	color: #696969; 
	font-size: 0.7em;
}

.account #account_albums_navigation,
.account #account_blog_navigation
{
	margin: 13px 0 0 0px;
	padding: 0px;
	list-style-type: none;
	width: 470px;
}

.account #account_albums_navigation li,
.account #account_blog_navigation li
{

	font-size: 0.8em;
	margin: 7px 0 7px 0;
	padding: 7px 0 7px 0;
	border-bottom: 2px solid #3B3B3B;
	text-transform: lowercase;
}
.account #account_albums_navigation li span,
.account #account_blog_navigation li span
{
	margin-left: 10px;	
}
.account #account_albums_navigation .album_deletes,
.account #account_blog_navigation .blog_deletes
{
	color: #FF0000;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 7px 0 0;
	padding: 2px 3px 2px 3px;
	cursor: pointer;
}
.account #account_albums_navigation .album_deletes:hover,
.account #account_albums_navigation .album_deletes:active,
.account #account_blog_navigation .blog_deletes:hover,
.account #account_blog_navigation .blog_deletes:active
{
	color: #000000;
	background-color:#FFFF00;
}

.account #account_albums_navigation .album_names,
.account #account_blog_navigation .blog_headlines
{
	font-size: 1em;
	font-weight: bold;
	color: #464646;
	background-color:#FFFF00;
	cursor: pointer;
	text-transform: capitalize;
}
.account #account_albums_navigation .album_names:hover,
.account #account_albums_navigation .album_names:active,
.account #account_blog_navigation .blog_names:hover,
.account #account_blog_navigation .blog_names:active
{
	background-color:#FFFFFF;
}

.account #account_albums_navigation .album_categorys
{
	font-size: 0.8em;
	font-weight: bold;
	color: #6F6F6F;
	font-style: italic;
	text-transform: capitalize;
}

.album_container_deleteoptionss,
.blog_container_deleteoptionss
{
	text-transform:uppercase;
	font-size: 1.1em;
	background-color:#FFFFFF;
}

.album_visibilitys,
.blog_visibilitys,
.account #account_albums_navigation .album_comments,
.account #account_blog_navigation .blog_comments
{
	font-size: 0.8em;
	font-weight: bold;
	cursor: pointer;
	background-color: #FFFF00;
}
.account #account_albums_navigation .album_comments
{
	margin-right: 27px;
	margin-left: 7px;
}
.account #account_blog_navigation .blog_comments
{
	margin-right: 0px;
	margin-left: 7px;
}
.account #account_blog_navigation .blog_timestamp
{
	font-size: 0.8em;
}
.album_visibilitys:hover,
.album_visibilitys:focus,
.account #account_albums_navigation .album_comments:hover,
.account #account_albums_navigation .album_comments:focus,
.blog_visibilitys:hover,
.blog_visibilitys:focus,
.account #account_blog_navigation .blog_comments:hover,
.account #account_blog_navigation .blog_comments:focus
{
	background-color: #D6D6D6;
	color: #000000;
}



#album_create_button,
#album_list_button,
#blog_create_button
{
	text-transform: lowercase;
	font-size: 0.9em;
	font-weight: bold;
	color: #333333;
	width: 200px;
}





.display_portfolio_info
{
	margin: 0;
	padding: 17px 13px 17px 13px;
	list-style-type: none;
}
.display_portfolio_info li
{

}
.display_portfolio_info li.display_portfolio_info_avatar
{
	float: left;
	display: inline;
}
.display_portfolio_info li.display_portfolio_info_otherinfo
{
	float: left;
	margin: 0 0 0 17px;
	width: 540px;
}
.display_portfolio_info_otherinfo_ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.display_portfolio_info_otherinfo_ul li
{
	margin: 0 0 7px 0;
}
.display_portfolio_info_otherinfo_ul li.profile_description
{
	margin: 7px 0 7px 0;
	padding: 7px 31px 7px 31px;
	font-style:italic;
	font-size: 1.2em;
}
.display_portfolio_info_otherinfo_ul li.profile_description:first-line
{
	margin: 7px 0 7px 0;
	padding: 7px 21px 7px 21px;
	font-style:italic;
	font-size: 1.3em;
	font-weight: bold;
}

.thumbsimages
{
	border: 1px solid #696969;
}

.bigquotes
{
	font-size: 1.5em;
	line-height: 5px;
}


.liseperator
{
	display: block;
	height: 17px;
	line-height: 13px;
}




.imagesupdate_blog_entry_instructions
{
	color:#606060;
	font-size:0.7em;
	margin:-23px 0 37px;
	text-align:right;
}



#contact_body
{
	padding: 0 32px 0 32px;
}
#contacttext
{
	margin: 23px 0 0 0;
}
#contactfrm_container
{

}
#contact_frm_messages
{
	font-size: 1.3em;
	margin: 15px 0 15px 0;
}
#contact_frm_loader
{
	font-size: 3em;
	text-align: center;
	width: 100%;
	margin: 25px 0 0 0;
}

#contact_frm
{
	padding: 0px;
	margin: 0px;
	list-style-type:none;
}

#contact_frm li
{
	margin: 0 0 5px 0;
}
#contact_frm .charcounters
{
	color:  #5B5B5B;
	width: 390px;
	margin: 3px 0px 3px 0px;
}
#contact_body .charcounters
{
	padding: 3px 0 17px 0;
}
#contact_body .counters
{
	font-size: 2em;
	font-weight: bold;
}
#contact_body .submit
{
	font-family: "Courier New", Courier, monospace;
	margin: 3px 10px 0 0;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #CCCCCC;
	padding: 2px 3px 2px 3px;
	background-color: #F7F7F7;
	color: #696969;
}
#contact_submit
{
	width: 515px;
	text-align: center;
}
#contact_body .submit:focus,
#contact_body .submit:hover
{
	color: #ffffff;
	background-color: #000000;
	border: 1px solid #CCCCCC;
}

#contact_body input.text, textarea.text, select.text
{
	background: #f8f8f8 url('../images/inputbackground.png') repeat-x top left;
	border: 1px solid #000000;
	border-color: #5F5F5F;
	color: #303030;

	padding: 2px 0 2px 4px;
	margin: 0 3px 0 0;
}
#contact_body input.text:focus, textarea.text:focus, select.text:focus
{
	background: #ffffff;
}
#contact_body input.text, textarea.text, select.text
{
	width: 515px;
}
#contact_body #contact_name
{
	font-size: 0.9em;
}
#contact_body #contact_email
{
	font-size: 1.1em;
}
#contact_body #contact_message
{
	height: 170px;
}














.red
{
	color: #FF0000;
}

.album_content
{
	margin: 7px 0 17px 0;
	padding: 1px 7px 7px 7px;
	width: 470px;
	float: left;
}
.blog_content
{
	margin: 1px 0 17px 0;
	padding: 1px 7px 7px 7px;
	width: 570px;
	float: left;
}

#album_frm li,
#blog_frm li
{
	margin:0px;
	margin: 0 0 7px 0;
}
#album_frm .text4
{
	font-size: 0.9em;
	width: 360px;
}
#blog_frm .text4
{
	font-size: 0.9em;
	width: 470px;
}
#album_frm .text5
{
	font-size: 0.9em;
	width: 360px;
}
#blog_frm .text5
{
	font-size: 0.9em;
	width: 560px;
}
#uploadimagessettings_frm .text7
{
	font-size: 0.9em;
	width: 50px;
}
#album_frm #album_description
{
	height: 174px;
	width: 450px;
}
#blog_frm #blog_body
{
	height: 375px;
}
#blog_frm #blog_embeddedvideos
{
	height: 174px;
}
#album_frm #album_embeddedvideos
{
	height: 174px;
	width: 450px;
}
label#blog_embeddedvideos_label,
label#album_embeddedvideos_label
{
	width: 100%;
	margin: 7px 0 0 0;
}
.staticfrmfields
{
	font-size: 0.68em;
	text-transform: lowercase;
	font-weight: bold;
	color: #3F3F3F;
	margin: 0 0 7px 0;
	text-align:right;
	padding: 0 7px 37px 0;
}
.staticfrmfields2
{
	text-transform: lowercase;
	font-weight: bold;
	margin: 0 0 17px 0;
	text-align:right;
	padding: 0 17px 7px 0;
}
.albumtype
{
	color:#FF0000;
	background-color:#000000;
	padding: 2px 3px 2px 3px;
	font-weight: bold;
	font-size: 0.7em;
	float:right;
	margin: 0 0 5px 0;
}
#album_frm_messages,
#blog_frm_messages
{
	float: right;
}
.timestamp
{
	font-weight: bold;
	color: #747474;
	font-style:italic;
}
.lineseperator
{
}

.newalbum,
.newpost
{
	background-color: #C8C5FE;
}
.view_albums:hover,
.view_albums:focus,
.account_albums:hover,
.account_albums:focus
{
	background-color:#EEE8E8;
}

.titles
{
	text-transform:lowercase;
	font-size: 0.9em;
	margin: 27px 0 17px 0;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
}
.titles2
{
	text-transform:lowercase;
	font-size: 0.9em;
	margin:-3px 0 7px 0;
	color: #000000;
	float: left;
}

#albumcover_dimensions
{
	color: #555555;
	margin: 0 0 27px 85px;
	font-size: 0.7em;
}

#user_uploadprogress_container
{
	margin: 1px 1px 1px 270px;
}

#album_uploadprogress_container
{
	margin: 1px 1px 1px 88px;
}

#usercover_dimensions
{
	color: #555555;
	margin: 0 0 27px 268px;
	font-size: 0.7em;
}

#album_submit
{
	font-size: 1.2em;
	margin: 0 13px 0 0px;
	float: right;
}
#blog_submit
{
	font-size: 1.2em;
	margin: 0 5px 0 0px;
	float: right;
}

#albumimage_frm,
#blogimage_frm,
#coverpageimage_frm
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#albumimage_options,
#blogimage_options,
#coverpageimage_options
{
	padding: 4px;
	margin: 0 0 7px 0;
	text-align: center;
}

#albumimage_options span,
#blogimage_options span,
#coverpageimage_options span
{
	margin: 0 7px 0 0;
	font-size: 0.9em;
	font-weight: bold;
	cursor: pointer;
	padding: 2px 3px 2px 3px;
}



#albumimage_uploader_container,
#blogimage_uploader_container,
#album_uploader_container,
#coverpageimage_uploader_container
{
	font-size: 0.8em;
	/*
	background-color: #EBEBEB;
	border: 1px solid #CFCFCF;
	*/
	background-color:#FFFF00;
	height: 27px;
	color: #000000;
	cursor: pointer;
}

#user_uploader_container
{
	font-size: 0.8em;
	/*
	background-color: #EBEBEB;
	border: 1px solid #CFCFCF;
	*/
	background-color:#FFFF00;
	height: 27px;
	color: #000000;
	cursor: pointer;
}

.albumcovers_button,
.usercovers_button
{
	font-size: 20px;
	color: #000000;
	cursor: pointer;
}

#album_cover_frm,
#user_cover_frm
{
	margin: 37px 0 27px 0;
}

#user_cover_frm
{
	margin: 37px 0 27px 0;
}
#album_uploader_container,
#album_uploadedcover
{
	margin: 0 0 7px 90px;
}
#user_uploader_container
{
	width: 490px;
	margin: 0 0 7px 270px;
}
#user_uploadedcover
{
	margin: 0 0 7px 270px;
}


#albumimage_reorder_container
{
	font-size: 0.8em;
	background-color: #EBEBEB;
	height: 35px;
	line-height: 35px;
}

#albumimage_delete_container,
#blogimage_delete_container,
#coverpageimage_delete_container
{
	font-size: 0.8em;
	background-color: #EBEBEB;
	height: 35px;
	line-height: 35px;
}
#albumimage_delete_moretext,
#blogimage_delete_moretext,
#coverpageimage_delete_moretext
{
	margin: 0 7px 0 0;
}

#albumimage_delete_counter,
#blogimage_delete_counter,
#coverpageimage_delete_counter
{
	font-size: 1.2em;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #FF0000;
	background-color: #000000;
	padding: 2px 3px 2px 3px;
}

#spanButtonPlaceholder,
#spanButtonPlaceholderCover
{
	display: inline; 
	padding: 4px;
	height: 40px;
}
#divFileProgressContainer,
#divFileProgressContainerCover,
#divFileProgressContainerWallpaper,
#divFileProgressContainerLogo
{
	font-size: 0.7em;
	height: 20px;
	line-height: 20px;
	margin: 0 7px 0 3px;
	display: inline;
}
#divFileProgressContainerWallpaper,
#divFileProgressContainerLogo
{
	margin: 0 7px 0 300px;
}
#divFileProgressContainer span,
#divFileProgressContainerCover
{
	margin: 0 5px 0 0;
}
.progressName
{
	font-weight: bold;
}

.ul_portfolio_images_thumbnails
{
	float: none;
	list-style-type: none;
	padding:0px;
	margin: 0 0 0 0;
	/*padding: 7px 7px 7px 7px;*/
	width: 477px;
	float: left;
	
}
.ul_portfolio_images_thumbnails li
{
	padding: 0px;
	margin: 0px;
	padding: 1px 1px 5px 1px;
	float: left;
	width: 75px;
	height: 75px;
	cursor: pointer;
}
.ul_portfolio_images_thumbnails li
{
	float: left;
}
.ul_portfolio_images_thumbnails .pi_thumbs:hover,
.ul_portfolio_images_thumbnails .pi_thumbs:active,
.ul_portfolio_images_thumbnails .pi_thumbs:focus
{
	padding-bottom: 2px;
	border-bottom: 3px solid #363636;
	z-index: +2;
}

.selectedtodelete
{
	padding-left: 2px;
	border-left: 3px solid #FF0000;
}

.selectedtoreorder
{
	padding: 2px;
	border-left: 3px solid #FFFF00;
}

#albumimage_reorder_container,
#albumimage_delete_container,
#blogimage_delete_container,
#coverimage_delete_container
{
	font-size: 0.8em;
	font-weight: bold;
	padding: 0 0 0 7px;
	color: #FF0000;
}

#albumimage_delete_submit,
#blogimage_delete_submit,
#coverpageimage_delete_submit
{
	padding: 1px 3px 1px 3px;
	line-height: 25px;
	height: 25px;
	font-weight: bold;
	font-size: 1.2em;
}


.ul_portfolio_images_fullsize_view
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.ul_portfolio_images_fullsize_view li
{
	margin: 43px 7px 43px 7px;
}

.ul_portfolio_images_fullsize_view li img
{
	border: 1px solid #E5E5E5;
	padding: 1px;
}

.ul_portfolio_images_fullsize_view li .portfolioimagecaptions
{
	display: block;
	font-size: 0.9em;
	color: #4A4A4A;
}
.ul_portfolio_images_fullsize_view li .portfolioimageviews
{
	display: block;
	font-size: 0.7em;
	padding: 2px 3px 2px 3px;
}
.ul_portfolio_images_fullsize_view li .portfolioimagetagstext
{
	display: inline;
	font-size: 0.7em;
}
.ul_portfolio_images_fullsize_view li .portfolioimagetags
{
	display: inline;
	font-size: 0.7em;
	background-color: #000000;
	color: #FFFFFF;
	padding: 2px 3px 2px 3px;
}

.ul_portfolio_images_fullsize_view li .portfolioimagecaptions:first-letter
{
	text-transform: uppercase;
}

.ul_portfolio_images_thumbnails_view,
.ul_portfolio_images_largethumbnails_view
{
	float: none;
	list-style-type: none;
	padding:0px;
	margin: 1px 0 27px 0;
	padding: 0px;
	width: 700px;
	float: left;
}
.ul_portfolio_images_thumbnails_view li
{
	padding: 0px;
	margin: 0px;
	padding: 5px;
	float: left;
	width: 75px;
	height: 75px;
	cursor: pointer;	
}
.ul_portfolio_images_largethumbnails_view li
{
	padding: 0px;
	margin: 0px;
	padding: 5px;
	float: left;
	width: 150px;
	height: 150px;
	cursor: pointer;	
}
.ul_portfolio_images_thumbnails_view li,
.ul_portfolio_images_largethumbnails_view li
{
	float: left;
}
.ul_portfolio_images_thumbnails_view .pi_thumbs_view:hover,
.ul_portfolio_images_thumbnails_view .pi_thumbs_view:active,
.ul_portfolio_images_thumbnails_view .pi_thumbs_view:focus,
.ul_portfolio_images_largethumbnails_view .pi_thumbs_view:hover,
.ul_portfolio_images_largethumbnails_view .pi_thumbs_view:active,
.ul_portfolio_images_largethumbnails_view .pi_thumbs_view:focus
{
	padding-bottom: 2px;
	border-bottom: 3px solid #363636;
}


#display_albumnameinfo
{
	margin: 37px 0 13px 0;
}
#display_albumnameinfo span
{
	font-size: 0.9em;
	color: #ffffff;
	background-color:#000000;
	margin: 0 0 0 -6px;
	padding: 2px 3px 2px 3px;
	border-bottom: 1px solid #F7F7F7;
}
#display_albumnameinfo span#display_albumname
{
	color: #FF0000;
}

.display_albuminfo
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
}
.display_albuminfo li
{
	margin: 3px 0 3px 0;
}
.display_albuminfo #display_albumdescription
{
	font-family: Arial, Helvetica, sans-serif;
	padding: 23px 0 3px 0;
	margin: 0 0 0 0;
	text-align: justify;
	font-size: 0.8em;
}
.display_albuminfo #display_albumembeddedvideos
{
	padding: 23px 0 3px 0;
	margin: 13px 0 13px 0;
}
.display_albuminfo #display_albumcreated,
.display_albuminfo #display_albumupdated,
.display_albuminfo #display_albumviews,
.display_albuminfo #display_albumcategory,
.display_albuminfo #display_albumvisibility,
.display_albuminfo #display_albumimagesnumber,
.display_albuminfo #display_albumcomments
{
	font-size: 0.7em;
	text-align: center;
}
.display_albuminfo #display_albumcreated
{
	border-top: 1px solid #F7F7F7;
	padding: 13px 0 0 0;
}
.display_albuminfo #display_albumcomments
{
	border-bottom: 1px solid #F7F7F7;
	padding: 0 0 13px 0;
}

div.flash {
	width: 375px;
	margin: 10px 5px;
	border-color: #D9E4FF;

	-moz-border-radius-topleft : 5px;
	-webkit-border-top-left-radius : 5px;
    -moz-border-radius-topright : 5px;
    -webkit-border-top-right-radius : 5px;
    -moz-border-radius-bottomleft : 5px;
    -webkit-border-bottom-left-radius : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-bottom-right-radius : 5px;
}


#loader_layer
{
	display: none;
	font-weight: bold;
	font-size: 1.2em;
	color: #454545;
	position: absolute;
	top: 72px;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 3px;
	background-color: #FFFFFF;
	background: transparent url('../images/bglinewhite60.png');
	background-repeat: repeat;
	z-index: +5;
}
#loader_layer2
{
	display: none;
	font-weight: bold;
	font-size: 1.2em;
	color: #454545;
	position: absolute;
	top: 98px;
	left: 0;
	width: 550px;
	height: 100%;
	padding: 3px;
	background-color: #FFFFFF;
	background: transparent url('../images/bglinewhite80.png');
	background-repeat: repeat;
	z-index: +5;
}

#loader_layer3
{
	display: none;
	font-weight: bold;
	font-size: 1.2em;
	color: #454545;
	position: absolute;
	top: 98px;
	left: 527px;
	width: 100%;
	height: 100%;
	padding: 3px;
	background-color: #FFFFFF;
	background: transparent url('../images/bglinewhite80.png');
	background-repeat: repeat;
	z-index: +5;
}

#loader_layer4
{
	display: none;
	font-weight: bold;
	font-size: 1.2em;
	color: #454545;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 3px;
	background-color: #FFFFFF;
	background: transparent url('../images/bglineblack90.png');
	background-repeat: repeat;
	z-index: +7;
}

#loader_layer6
{
	display: none;
	font-weight: bold;
	font-size: 1.2em;
	color: #454545;
	position: fixed;
	top: 212px;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 3px;
	background-color: #FFFFFF;
	background: transparent url('../images/bglinewhite80.png');
	background-repeat: repeat;
	z-index: +7;
}
#loader_layer7
{
	display: none;
	font-weight: bold;
	font-size: 1.2em;
	color: #454545;
	position: absolute;
	top: 102px;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 3px;
	background-color: #FFFFFF;
	background: transparent url('../images/bglinewhite60.png');
	background-repeat: repeat;
	z-index: +5;
}



.navilinksize_tiny
{
	font-size: 1em;
}
.navilinksize_small
{
	font-size: 1.2em;
}
.navilinksize_medium
{
	font-size: 1.5em;
}
.navilinksize_large
{
	font-size: 1.8em;
}





#layer_placeholder
{
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	z-index: +11;
}
.comment_container
{
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	width: 970px;
	padding: 10px 10px 10px 0px;
	z-index: +11;
}
.comment_title
{
	position: fixed;
	top: 13px;
	left: 0px;
	z-index: +11;
	font-size: 2em;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #000000;
	padding: 5px 3px 2px 17px;
	text-transform: uppercase;
}
.comment_for
{
	position: fixed;
	top: 53px;
	left: 0px;
	z-index: +11;
	font-size: 1.4em;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #000000;
	padding: 5px 3px 2px 17px;
	text-transform: lowercase;
}
.comment_for_name
{
	color: #FF0000;
	text-transform: capitalize;
	font-style:italic;
}
#comment_close
{
	position: fixed;
	top: 0;
	right: 0;
	z-index: +11;
	font-size: 1.8em;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #FF0000;
	padding: 2px 3px 2px 3px;
	cursor: pointer;
}
#comment_close:hover,
#comment_close:focus
{
	background-color:#FFFF00;
	color:#000000;
}
#previous_comment_container
{
	display: inline;
	margin: 0 15px 0 0;
	padding: 5px 10px 5px 10px;
	width: 600px;
	height: 400px;
	overflow: scroll;
	float: left;
	background-color: #FFFFFF;
}
#new_comment_container
{
	color: #000000;
	float: left;
	width: 270px;
	height: 400px;
	padding: 5px 10px 5px 10px;
	background-color: #FFFFFF;
}
#previous_comment_container_text
{
	text-align: right;
	font-size: 3em;
}

#comment_frm
{
	list-style-type: none;
	padding: 5px;
	margin: 0px;
}
#comment_frm li
{
	padding: 0px;
	margin: 0px 0px 3px 0px;
}
#comment_frm_messages
{
	margin: 0 0 3px 0;
	color: #FF0000;
}
#comment_frm li #comment_name
{
	font-size: 1.1em;
}
#comment_frm li #comment_email
{
	font-size: 1.2em;
}
#comment_frm li .text
{
	width: 255px;
}
#comment_frm li textarea.text
{
	width: 255px;
	height: 220px;
}

#comment_frm .charcounters
{
	color:  #5B5B5B;
	width: 390px;
	margin: 3px 0px 3px 0px;
}
#comment_frm .counters
{
	font-size: 2em;
	font-weight: bold;
}
#comment_submit
{
	width: 255px;
	text-align: center;
}
#comment_frm .submit:focus,
#comment_frm .submit:hover
{
	color: #ffffff;
	background-color: #000000;
	border: 1px solid #CCCCCC;
}

ul#previous_comment
{
	list-style-type: none;
	margin: 0px;
	margin: 10px 0 0 0;
	padding: 0px;
	font-size: 0.9em;
	color: #3E3E3E;
}
ul#previous_comment li
{
	margin: 0 0 23px 0;
}
ul#previous_comment .oldcommentwho
{
	border-bottom: 2px solid #000000;
}
ul#previous_comment .oldcommentwho a
{
	font-size: 1.3em;
	font-weight: bold;
	text-transform: capitalize;
	padding: 2px 3px 2px 3px;
	background-color: #000000;
	color: #FFFFFF;
}
ul#previous_comment .oldcommentwhen
{
	padding: 2px 3px 2px 3px;
	margin: 2px 0 2px 0;
}
ul#previous_comment .oldcommentwhat
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 1.3em; 
	margin: 7px 0 0 0;
	padding: 2px 3px 2px 3px;
	background-color:#F7F7F7;
}
















#jdbox_image_container
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: +10;
	width: 100%;
	height: 100%;
}


#jdbox_image_container #jdbox_image_img
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	z-index: +11;
	padding: 5px;
	border: 7px solid #FFFFFF;
}

/*
#jdbox_image_container img.verticalimg
{
	height: 600px;
}
#jdbox_image_container img.horizontalimg
{
	width: 600px;
}
*/

#jdbox_image_container img.orientation_vertical
{
	height: 90%;
}
#jdbox_image_container img.orientation_horizontal
{
	width: 800px;
}


#jdbox_image_container #jdbox_image_prev
{
	position: fixed;
	top: 50px;
	right: 0;
	z-index: +11;
	font-size: 1.5em;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #000000;
	padding: 2px 3px 2px 3px;
	cursor: pointer;
	width: 60px;
}

#jdbox_image_container #jdbox_image_next
{
	position: fixed;
	top: 80px;
	right: 0;
	z-index: +11;
	font-size: 1.5em;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #000000;
	padding: 2px 3px 2px 3px;
	cursor: pointer;
	width: 60px;
}
#jdbox_image_container #jdbox_image_uploadedtimestamp
{
	position: absolute;
	top: 150px;
	right: 0;
	z-index: +11;
	color: #000000;
	background-color:#FFFFFF;
	font-size: 1.1em;
	padding: 2px 3px 2px 3px;
}
#jdbox_image_container #jdbox_image_tags
{
	position: absolute;
	top: 210px;
	right: 0;
	z-index: +11;
	color: #000000;
	background-color:#FFFFFF;
	font-size: 1.1em;
	padding: 2px 3px 2px 3px;
}

#jdbox_image_container #imagetags_frm
{
	position: absolute;
	top: 225px;
	right: 0;
	z-index: +11;
	color: #000000;
	font-size: 1.5em;
	width: 370px;
	font-weight: bold;
}

#jdbox_image_container #imagetags_frm label
{
	position: absolute;
	top: 0px;
	right: 1px;
	z-index: +11;
	clear: both;
	background-color: #FFFF00;
	cursor: pointer;
}

#jdbox_image_container #imagetags_frm #imagetags_instructions
{
	position: absolute;
	top: 30px;
	right: 1px;
	z-index: +11;
	clear: both;
	background-color:#FFFFFF;
	color: #737373;
	font-size: 0.7em;
}

#jdbox_image_container #imagetags_frm .text6
{
	position: absolute;
	top: 51px;
	right: 1px;
	z-index: +11;
	width: 370px;
	font-size: 0.7em;
	margin: 0 -3px 0 0;
}

#jdbox_image_container #imagetags_frm #imagetags_submit
{
	position: absolute;
	top: 80px;
	right: 1px;
	z-index: +11;
	font-size: 0.7em;
	margin: 0 -3px 0 0;
}
#jdbox_image_container #imagetags_frm #imagetags_frm_messages
{
	position: absolute;
	top: 110px;
	right: 1px;
	z-index: +11;
	font-size: 0.7em;
	margin: 0 -3px 0 0;
	color:#FF0000;
	text-align: right;
}


#jdbox_image_container #jdbox_image_views
{
	position: absolute;
	top: 180px;
	right: 0;
	z-index: +11;
	color: #000000;
	background-color:#FFFFFF;
	font-size: 1.1em;
	padding: 2px 3px 2px 3px;
}
#jdbox_image_container #jdbox_image_caption
{
	position: absolute;
	top: 270px;
	right: 0;
	z-index: +11;
	color: #000000;
	background-color:#FFFFFF;
	font-size: 2em;
	width: 370px;
	font-weight: bold;
	padding: 2px 3px 2px 3px;
}


#jdbox_image_container #jdbox_image_newwindow
{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: +11;
	color: #000000;
	background-color:#FFFFFF;
	font-size: 1.2em;
	font-weight:bold;
	padding: 2px 3px 2px 3px;
	cursor: pointer;
}

#jdbox_image_container #jdbox_image_close
{
	position: fixed;
	top: 0;
	right: 0;
	z-index: +11;
	font-size: 1.8em;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #FF0000;
	padding: 2px 3px 2px 3px;
	cursor: pointer;
	width: 60px;
}
#jdbox_image_container #jdbox_image_close:hover,
#jdbox_image_container #jdbox_image_close:active,
#jdbox_image_container #jdbox_image_close:focus,
#jdbox_image_container #jdbox_image_next:hover,
#jdbox_image_container #jdbox_image_next:active,
#jdbox_image_container #jdbox_image_next:focus,
#jdbox_image_container #jdbox_image_prev:hover,
#jdbox_image_container #jdbox_image_prev:active,
#jdbox_image_container #jdbox_image_prev:focus,
#jdbox_image_container #jdbox_image_newwindow:hover,
#jdbox_image_container #jdbox_image_newwindow:active,
#jdbox_image_container #jdbox_image_newwindow:focus
{
	background-color:#FFFF00;
	color:#000000;
}




#jdbox_image_container #imagecaption_frm
{
	position: absolute;
	top: 383px;
	right: 0;
	z-index: +11;
	color: #000000;
	font-size: 2em;
	width: 370px;
	font-weight: bold;
}

#jdbox_image_container #imagecaption_frm label
{
	position: absolute;
	top: 0px;
	right: 1px;
	z-index: +11;
	clear: both;
	background-color: #FFFF00;
	cursor: pointer;
}
#jdbox_image_container #imagecaption_frm .text6
{
	position: absolute;
	top: 37px;
	right: 1px;
	z-index: +11;
	height: 30px;
	width: 370px;
	font-size: 1em;
	margin: 0 -3px 0 0;
}

#jdbox_image_container #imagecaption_frm #imagecaption_submit
{
	position: absolute;
	top: 82px;
	right: 1px;
	z-index: +11;
	font-size: 0.8em;
	margin: 0 -3px 0 0;
}
#jdbox_image_container #imagecaption_frm #imagecaption_frm_messages
{
	position: absolute;
	top: 125px;
	right: 1px;
	z-index: +11;
	font-size: 0.9em;
	margin: 0 -3px 0 0;
	color:#FF0000;
	text-align: right;
}



#coverpageimage_container
{
	width: 600px;
}
#section_content_subpage_coverpage_container
{
	width: 770px;
	margin: 0 0 0 23px;
	display: block;
}
.coverpage_instructions
{
	font-weight: none;
	font-size: 0.9em;
}
.coverpage_content
{
	margin: 47px 0 17px 3px;
}
#coverpagetypes
{
	font-size: 1em;
	font-weight: bold;
	width: 400px;
	margin: 0 0 0 185px;
}
.coverpage_content label
{
	float: left;
	display: inline;
	font-weight: bold;
	font-size: 0.7em;
	line-height: 25px;
}
.coverpage_content .coverpagetype
{

}

#usercategories_tagcloud
{
	font-size: 0.7em;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin: 23px 0 0 13px;
	float: left;
	width: 350px;
}
#usercategories_tagcloud li
{
	height: 15px;
	line-height: 15px;
	padding: 2px 3px 2px 3px;
}
#usercategories_tagcloud a,
#usercategories_tagcloud a:visited
{
	text-decoration: none;
	color: #000000;
}
#usercategories_tagcloud a:hover,
#usercategories_tagcloud a:active,
#usercategories_tagcloud a:focus
{
	color: #FFFFFF;
	background-color: #000000;
}
#usercategories_tagcloud .smallestTag{font-size:0.9em; font-weight: bold;}
#usercategories_tagcloud .smallTag{font-size:1.5em; font-weight: bold;}
#usercategories_tagcloud .mediumTag{font-size:2em;}
#usercategories_tagcloud .largeTag{font-size:2.8em;}
#usercategories_tagcloud .largestTag{font-size:3.2em;}


#artistindex_users
{
	margin: 0;
	padding: 0;
	margin: 0 0 0 17px;
	padding: 7px 7px 0 7px;
	list-style-type: none;
	width: 700px;
	float: left;
	color: #4F4F4F;
	font-size: 0.7em;
}
#artistindex_users li
{	
	margin:0;
	padding:17px 7px 17px 7px;
}
#artistindex_users li.artistprofileli
{
	border-bottom:1px solid #F3F3F3;
	margin:0;
	padding:17px 7px 17px 7px;
}
li#artistprofileli_0
{
	border:0px;
	margin:0;
	padding:17px 7px 17px 7px;
	font-size: 1.9em;
	font-weight: bold;
}
#artistindex_users li:hover,
#artistindex_users li:focus
{
	background-color:#F4F4F4;
}
.artistprofile_picture {
	float:left;
	margin:0 37px 0 0;
}
.artistprofilecontainers {
	width: 390px;
	float: left;
}
.artistprofile_name
{
	font-size: 1.7em;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer;
}
.artistprofile_title
{
	color: #7A7A7A;
}
.artistprofile_views
{
	margin: 37px 0 0 0;
}
.artistprofile_joined
{
}
#artistindex_users li a,
#artistindex_users li a:visited
{
	color: #4F4F4F;
	text-decoration: none;
}
#artistindex_users li a:hover,
#artistindex_users li a:active,
#artistindex_users li a:focus
{
	text-decoration: underline;
}


.section_content_page_instructions_container
{
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 37px auto 0 auto;
	padding: 0px;
	width: 750px;
}
.section_content_page_instructions_container .outer_ul
{
	list-style-type: none;
	margin: 17px 0 0 0;
	padding: 0px;
}
.section_content_page_instructions_container .outer_ul li
{
	margin: 27px 0 27px 0;
}
.section_content_page_instructions_container .inner_ul li
{
	margin: 3px 0 3px 0;
}
.section_content_page_instructions_container .blackbackground
{
	text-transform: uppercase;
}
.section_content_page_instructions_container .section_description
{
	display: block;
	margin: 0 0 0 50px;
}

#section_featuredartists .artistprofile_picture {
	float:none;
	margin:0 0 0 0;
}
#section_featuredartists .artistprofile_description
{
	margin: 27px 0 0 0;
}
#section_featuredartists .artistprofile_name
{
	margin: 13px 0 0 0;
	cursor: pointer;
}
#section_featuredartists #artistindex_users 
{
	width: 1124px;
	margin: 27px 0 0 37px;
	margin-left: auto;
	margin-right: auto;
}
#section_featuredartists #artistindex_users li
{
	border: 0px;
}
#section_featuredartists #artistindex_users li.artistprofileli
{
	border: 0px;
	border-right:1px solid #F3F3F3;
	float:left;
	margin:0 7px 0 0;
	padding:23px 3px 0 17px;
	width:190px;
	height: 470px;
	min-height: 470px;
}
#section_featuredartists .artistprofilecontainers {
	width: 180px;
	float: none;
}
#section_featuredartists .artistprofileli li a:hover,
#section_featuredartists .artistprofileli li a:active,
#section_featuredartists .artistprofileli li a:focus
{
	text-decoration: underline;
	cursor: pointer;
}
#section_featuredartists a.usercategories_tags:hover,
#section_featuredartists a.usercategories_tags:active,
#section_featuredartists a.usercategories_tags:focus
{
	text-decoration: none;
	cursor: default;
}


.section_content_page_designeditor_container #designeditor_templates_container,
.section_content_page_designeditor_container #designeditor_settings_container
{
	border-bottom:1px solid #EAEAEA;
	margin:7px 0 23px;
	padding:13px 23px;
}

.designeditor_container_title
{
	background-color:#FFFF00;
	color:#000000;
	display:inline;
	font-size:1.2em;
	font-weight:bold;
	padding:2px 3px;
	text-transform:uppercase;
}

#designeditor_templates,
#designeditor_settings
{
	list-style-type:none;
	margin:17px 0 0 140px;
	padding:0;
}
#designeditor_templates li
{
	display: inline;
	width: 160px;
	margin: 0 23px 0 0;
	text-transform: uppercase;
	font-size: 1.4em;
	font-weight: bold;
}

#designeditor_settings li
{
	margin: 0 0 23px 0;
}
#designeditor_settings li span
{
}
#designeditor_settings  label
{
	font-size: 0.9em;
	font-weight: bold;
	text-align: left;
	width: 275px;
	display: block;
	float: left;
	text-transform: capitalize;
	line-height: 21px;
	margin: 0 23px 0 0;
}
#designeditor_settings div 
{
	display: inline;
}
#sectionsbackground_options .sectionsbackground,
#textfont_options .textfont
{
	display: block;
	width: 250px;
}
div#sectionsbackground_options,
div#textfont_options
{
	display: block;
	margin: 0 0 0 300px;
}
.odd
{
	background-color: #F9F9F9;
}
.even
{
}


#designeditor_submit
{
	font-size: 1.2em;
	margin: 0 0 0 560px;	
}



input.text8,
textarea.text8,
select.text8
{
	width: 75px;
	color: #333333
}


#textfont_couriernew
{
	font-family: "Courier New", Courier, monospace;
	font-size: 1.2em;
}
#textfont_helvetica
{
	font-family: Helvetica;
	font-size: 1.2em;
}
#textfont_georgia
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
}
#textfont_verdana
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}
#textfont_geneva
{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}

.designeditor_colordemo
{
	padding: 2px 7px 2px 7px;
	border: 1px solid #A3A3A3;
}


embed,
object
{
	z-index: +2;
}



.credential_togglers
{
	font-size: 1.2em;
	font-weight: bold;
}
.home_links
{
	font-weight: bold;
}



.togglers,
.togglers:visited
{
	font-weight: bold;
	font-size: 1.1em;
	text-transform: uppercase;
	cursor: pointer;
	padding: 2px 3px 2px 3px;
}
.togglers:hover,
.togglers:focus
.togglers:active
{
	background-color: #FFFF00;
}

.thumblink,
.thumblink:visited
{
	border: 0px;
	border-style:none;
	text-decoration: none;
	cursor: pointer;
}
.thumblink:hover,
.thumblink:active,
.thumblink:focus
{

}

.dchlink
{
	color: #5C5C5C;
	text-decoration:none;
	cursor: pointer;
	font-size: 0.6em;
}

.simple,
.simple:visited
{
	text-decoration:none;
	cursor: pointer;
}

.whitelink,
.whitelink:visited
{
	color: #FFFFFF;
	text-decoration:none;
	cursor: pointer;
}
.blacklink,
.blacklink:visited
{
	color: #000000;
	text-decoration:none;
	cursor: pointer;
}
.whitelink:active,
.whitelink:focus,
.whitelink:hover,
.blacklink:active,
.blacklink:focus,
.blacklink:hover,
.simple:hover,
.simple:focus,
.dchlink:hover,
.dchlink:focus
{
	text-decoration:underline;
}



.blackbackground
{
	background-color: #000000;
	color: #FFFFFF;
}

.lightgraybackground
{
	background-color:#EFEFEF;
	color: #4D4D4D;
}

.seperetor
{
	margin: 23px 0 23px 0;
	border-top: 1px dashed #525252;
	/*border-top: 1px dashed #DADADA;*/
}

.clear
{
	clear:both;
}
.displaynone
{
	display: none;
}
.visibilityhidden
{
	visibility: hidden;
}
.highlight_color
{
	color: #FF0000;
	font-weight: bold;
}

.muchneededhight
{
	display: block;
	margin: 27px 0 27px 0;
	height: 75px;
	line-height: 75px;
	float: left;
}

.blog_category_instructions
{
	font-size: 0.7em;
}

.thumbsimages
{
	border: 1px solid #CACACA;
}

